.card {
  background-size: cover;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
    transition: transform .1s; /* Animation */
    text-align: center
}

.card > .img-container > img {
  max-height: 170px;
    max-width: 170px;
}

.card:hover {
  transform: scale(1.06); /* (106% zoom */
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.16), 0 5px 8px rgba(0,0,0,.23);
    box-shadow: 0 5px 8px rgba(0,0,0,.16), 0 5px 8px rgba(0,0,0,.23);
}
